<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array/>
	<key>NSCameraUsageDescription</key>
	<string>"fas"</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>"qw"</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>value</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>"ty"</string>
	<key></key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
